/* AddPost.css */

.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.novaposicao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.upload, .novopost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(133, 132, 132, 0.205);  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box; /* Garante que o padding e as bordas sejam incluídos na largura total */
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

#grid1 img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#grid2 {
    width: 100%; /* Garante que o container do input ocupe toda a largura */
    box-sizing: border-box; /* Inclui o padding e a borda na largura total */
}

#grid2 input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Inclui o padding e a borda na largura total */
}

#actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    box-sizing: border-box; /* Inclui o padding e a borda na largura total */
}

#actions label, #actions #buttonPost {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline-block;
    width: 48%;
}

#actions label:hover, #actions #buttonPost:hover {
    background-color: #0056b3;
}

/* Esconde o input original */
#fileInput {
    display: none;
}
