.posicao {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.post {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    background-color: #fff;
}

.perfil {
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
}

.areaImagem {
    margin-bottom: 10px;
}

.post-image {
    width: 100%;
    border-radius: 8px;
}

.actions button {
    margin-right: 10px;
}

#legenda {
    font-style: italic;
}
