/* Estilo geral do post */
.posicao {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.post {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    background-color: #fff;
    position: relative;
}

.perfil-post {
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
}

.areaImagem {
    margin-bottom: 10px;
}

.post-image {
    width: 100%;
    border-radius: 8px;
}

.actions {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.actions button {
    margin-right: 10px;
}

#legenda {
    font-style: italic;
    color: black;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.comment {
    width: 40px;
}

.like {
    width: 40px;
}

.like-count {
    color: black;
    font-weight: 800;
    margin-right: 10px;
    font-size: 16px;
}

.comment-count {
    color: black;
    font-weight: 800;
    margin-right: 10px;
    font-size: 16px;
}

.delete-icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.bin-icon {
    width: 30px;
}

.username-link {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/* Estilização da seção de comentários */
.comments-section {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.comments {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.comments p {
    margin-bottom: 8px;
    color: black;
    word-wrap: break-word; /* Quebra palavras longas */
    white-space: pre-wrap; /* Quebra as linhas conforme necessário */
    position: relative; /* Para posicionar o botão de excluir corretamente */
    padding-right: 60px; /* Espaço para o botão de excluir */
}

.comments p strong {
    font-weight: bold;
    color: black;
}

/* Estilo para o botão de excluir nos comentários */
.excluir-comentario {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(187, 4, 4);
    font-size: 14px;
    font-weight: 600;
    background-color: #ffb3b3;
    border-radius: 10px;
    padding: 2px 5px;
}

.excluir-comentario:hover {
    color: darkred;
}

.comment-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-input {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.comment-submit {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-submit:hover {
    background-color: #0056b3;
}
