.posicao {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.post {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    background-color: #fff;
    position: relative; /* Cria um contexto de posicionamento para os elementos filhos */
}

.perfil-post {
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
}

.areaImagem {
    margin-bottom: 10px;
}

.post-image {
    width: 100%;
    border-radius: 8px;
}

.actions {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Ajusta o espaço acima dos ícones de like e comentário */
}

.actions button {
    margin-right: 10px;
}

#legenda {
    font-style: italic;
    color: black;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.comment {
    width: 40px;
}

.like {
    width: 40px;
}

.like-count {
    color: black;
    font-weight: 800;
    margin-right: 10px;
    font-size: 16px; 
}

.comment-count {
    color: black;
    font-weight: 800;
    margin-right: 10px;
    font-size: 16px; 
}

/* Adiciona a classe para o ícone da lixeira */
.delete-icon-container {
    position: absolute; /* Posiciona a lixeira de forma absoluta dentro do post */
    top: 10px; /* Distância do topo do post */
    right: 10px; /* Distância da borda direita do post */
}

.bin-icon {
    width: 30px; /* Ajuste o tamanho conforme necessário */
}

.username-link{
    text-decoration: none;
    color: black;
    font-weight: 700;
}