.all{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin-top: 60px;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  
}

.create-btn{
    border-radius: 10px;
    padding: 10px;
    width: 15%;
    font-family: "Red Hat Display", Arial, sans-serif;
    font-weight: 700;
    color: antiquewhite;
    background-color: rgb(34, 94, 173);
    cursor: pointer;
}

.input{
    padding: 15px;
    border-radius: 5px;
    width: 50%;
    font-family: "Red Hat Display", Arial, sans-serif;
    font-weight: 400;
    background-color: rgb(186, 185, 187);
    box-sizing: border-box;
    margin: 5px;
}
